body {
	margin-left: 10px;
	margin-right: 10px;
}
.header{
	display:flex;
	align-items:center;
	justify-content: space-between;
}

h2{
	text-align:center;
}

.logout-button{
	display:flex;
	align-items: center
}

.btn-danger{
	margin-left: 8px;
}